body {
    background-image: url(../css/BackGroundSample.jpg);
}

/* body img {
    height: 130px;
    width: 300px;
} */

.hero-body {
  height: 100%;
  width: 20%; /*　画面左半分にします　*/
  background-color: #00CCFF;
  box-sizing: border-box;
  border: 8px solid rgb(203, 203, 203);
  position: fixed;
}

.hero-body a{
    color: #fff;
}

.container {
    height: 100%;
    width: 35%; /*　右半分　*/
}

.container .profile p{
    text-align: center;
}

.container > .column > .plofilee > p {
    margin: auto;
}
